/*red #FF0807
/* deep purple #1F0021
/* yellow #FFF93B
/* off white #F0F7F5
/* blue #2228FF */


* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-weight: bolder;
    font-size: large;
    transition: 0.3s;
    font-family: "Lucida Console", "Courier New", monospace;
    background: #F0F7F5
}

h1 {
    color: #1F0021;
    text-align: center;
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.38);
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    width: 35px;
    height: 35px;
    text-align: center;
    transition: 0.1s;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid rgb(80, 80, 80);
    border-right: 3px solid rgb(80, 80, 80);
    min-width: 35px;
    background-color: rgb(177, 177, 177);
    border-radius: 5%;
    box-shadow: 3px 7px 25px black;
    font-weight: bolder;
    cursor: pointer;
}

.revealed {
    background-color: rgb(145, 145, 145);
    border: 3px solid rgb(102, 102, 102);
}

.exploded {
    background-color: red
    /* outline: solid 2px red */
}

button {
    font-size: medium;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    box-shadow: 3px 7px 25px black;
    color: #1F0021;
}

.menu {
    padding: 10px;
}

.modal {
    display: none;
    background-color: #2228FF;
    border: 5px solid #FF0807;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: calc(50% - 150px);
    box-shadow: 0px 5px 15px 5px #000000;
    color: rgb(135, 133, 129);
}

.restart-face {
    cursor: pointer;
    margin: 5px;
    border: none
}

.dark-mode {
    font-weight: bolder;
    font-size: large;
    transition: 0.3s;
    font-family: "Lucida Console", "Courier New", monospace;
    background: #393939;
    color: #FFF93B
}

footer {
    padding: 15px;
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.38);
    font-size: xx-small;
}

/*SAFE CLICKS */

.safe-clicks {
    cursor: pointer;
}

.highlighted {
    /* background-color: lightgreen; */
    outline:solid 3px #FFF93B
}

/* HINTS */

.hints {
    cursor: pointer;
    opacity: 0.5;
}

/* .hints-count {
    opacity: 1;
} */

/*DIFFICULTY LEVELS */

.easy-btn {
    background-color: #2228FF
}

.medium-btn {
    background-color: #FFF93B;
}

.expert-btn {
    background-color: #FF0807;
}

/*NUMBER COLORS */

.one {
    color: blue
}

.two {
    color: green
}

.three {
    color: red
}

.four {
    color: darkblue
}

.five {
    color: brown
}

.six {
    color: lightseagreen
}

.seven {
    color: black
}

.eight {
    color: lightgray
}